<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" routerLink="/dashboard">
          <span class="logo"> Developer Junction</span>
      </a>
      <a class="navbar-brand brand-logo-mini" routerLink="/dashboard">
          <span class="logo"></span>
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" data-toggle="dropdown">
            <i class="fas fa-bell"></i>
            <span class="count">4</span>
          </a>
        </li>
        <li class="nav-item d-none d-xl-inline-block" (click)="logout()">
          <a class="nav-link dropdown-toggle" id="UserDropdown" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Hello, {{user.name}}!</span>
            <img class="img-xs rounded-circle" [src]="user.profilePicUrl" alt="Profile image">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="user-wrapper">
              <div class="profile-image">
                <img [src]="user.profilePicUrl" alt="profile image">
              </div>
              <div class="text-wrapper">
                <p class="profile-name">{{user.name}}</p>
                <div>
                  <small class="designation text-muted">{{user.email}}</small>
                  <span class="status-indicator online"></span>
                </div>
              </div>
            </div>
            <button
              *ngIf="user.role === 'Admin'"
              routerLink="/dashboard/admin"
              class="btn btn-success btn-block blue">
                Add Job
                <i class="fas fa-plus"></i>
            </button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <i class="fas fa-columns"></i>&nbsp;&nbsp;
              <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="jobs" routerLinkActive="active">
              <i class="fas fa-briefcase"></i>&nbsp;&nbsp;
              <span class="menu-title">Jobs</span>
            </a>
          </li>
        <li class="nav-item" *ngIf="user.role === 'Admin'">
          <a class="nav-link" routerLink="admin" routerLinkActive="active">
            <i class="fas fa-tools"></i>&nbsp;&nbsp;
            <span class="menu-title">Admin</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018. All rights reserved.</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
